html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.card
{
    padding:10px;
    background-color:rgb(238, 238, 238);
}

.row
{
    padding-top:10px;
}

.box
{
    max-width: 100%;
    position:relative;
}

.overlay {
    z-index: 9;
  }

body
{
    background-color: #232323;
}

.alphabet
{
  position: relative;
}

.alphabetAnim
{
  animation: bodybg 0.1s 0s linear infinite alternate;
}

@keyframes bodybg{
  to     {background:darkgray;}
}

#Title
{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 6.85%;
}

#Bot_Title
{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top_10
{
  background-color: white;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

#top_10_title
{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: fit-content;
  top: 100px;
  left: 65%;
}

#bot_list
{
  position: relative;
  width: fit-content;
  z-index: -10;
  padding-left: 2%;
}

.alphabet
{
  z-index: 20;
}

.trash-talk
{
  transform: scale(1.5);
  margin-top: 2%;
}

#Del
{
  user-select: none;
}

#Enter
{
  user-select: none;
}

#Alpha
{
  top: 50%;
  left:35%;
  position: absolute;
  scale: 1.8;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.horizontal-align {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  max-width: 100%;
}

#bot-align
{
  padding-left: 12%;
  scale: 1.2;
}

#game-align
{
  scale: 1.2;
}


/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  
  