.card
{
    padding:10px;
    background-color:rgb(238, 238, 238);
}

.row
{
    padding-top:10px;
}

.box
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 150px;
    left: -330px;
}

.overlay {
    z-index: 9;
    margin: 30px;
  }

body
{
    background-color: #232323;
}

.alphabet
{
  position: relative;
}

#Title
{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Bot_Title
{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top_10
{
  background-color: white;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

#top_10_title
{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: fit-content;
  top: 100px;
  left: 65%;
}

#front-button
{
  z-index: 10;
  position: relative;
}

#bot_list
{
  position: absolute;
  width: fit-content;
  top: 20px;
  left: 60%;
  z-index: -10;
}

.alphabet
{
  z-index: 20;
}

.trash-talk
{
  transform: scale(1.5);
}


/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  
  